<h1>Doctors</h1>

<h2><%= "Dr. #{@doctor.last_name}" %></h2>
<hr />
</ul>
<br />
<%= link_to 'Edit doctor', edit_doctor_path, class: "ui green button inverted" %>
<br />
<br />
<%= link_to 'Delete doctor', @doctor, method: :delete, class: "ui pink button inverted" %>